@import "tailwindcss";

.worktrack {
  animation: work-marquee 120s linear infinite;
}

@keyframes work-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
